.bottom {
  background-size: auto auto;
  background-position: left;
  background-repeat: no-repeat;

  @include min-w($desk-xs-mq) {
    background-size: 100% auto;
    background-position: bottom;
  }
}
