.button {

  background-size: 100% 100%;
  background-position: center;

  @include btn-shine;

  padding: 0 2.5rem;

  span {
    color: rgba(var(--w-clr), 1);

    font-size: var(--f-sm);

    position: relative;
    @include z-2;

    max-width: 12.5rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include min-w($mob-mq) {
      font-size: var(--f-xm);
    }
  }
}

