.features {
  --icon-width: 7.5rem;
  --title-margin: 4rem;
  --item-width: 20rem;
  --descr-width: 100%;

  &__title {
    @include title(55.875rem);

    @include m(b, var(--title-margin))
  }
  &__grid {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: var(--features-gap-y) var(--features-gap-x);
  }
  &__grid-item {
    @include fl(column, center, 1.5rem);

    text-align: center;

    padding: 0 var(--features-item-px);

    max-width: var(--item-width);

    @include m-auto;
  }
  &__item-heading {
    font-family: var(--ff_o);
    font-size: var(--f-2xl);
    text-transform: uppercase;
    letter-spacing: var(--ls);

    @include m(b, 1.5rem);

    @include title-shadow(rgba(var(--w-clr),1));
  }
  &__item-icon {
    max-width: var(--icon-width);

    @include m-auto;
  }
  &__descr {
    @include m-auto;
  }
}

@include min-w($tab-mq) {

}

@include min-w($mob-mq) {
  .features {
    --title-margin: 7.5rem;
    --icon-width: 11.25rem;
    --item-width: 100%;
    --descr-width: 23.5rem;

    &__grid {
      grid-template-columns: repeat(var(--features-grid-cols), 1fr);
    }
    &__grid-item {
      grid-gap: 3rem;
    }
    &__item-heading {
      font-size: var(--f-3xl);
    }
    &__descr {
      max-width: var(--descr-width);
    }
  }
}

@include min-w($desk-xs-mq) {
  .features {
    &__item-heading {
      font-size: var(--f-4xl);
    }
  }
}
