.promo {
  --heading-margin: 2rem;

  min-height: calc(var(--promo-sec-h) + var(--footer-spacing));

  display: grid;
  place-items: center;

  &__body {
    text-align: center;
  }
  &__title {
    --f-title: var(--f-4xl);

    margin-bottom: 2rem;

    letter-spacing: -0.01em;

    @include title(48.25rem);

    line-height: 130%;

    & > span {
      display: block;

      margin-top: 0.25rem;

      font-size: calc(var(--f-2xl) * 2);

      line-height: 80%;
    }
  }
  &__heading {
    @include m(b, var(--heading-margin));
  }
  &__subheading {
    @include m-auto;

    max-width: 23.5rem;

    p {
      color: rgba(var(--w-clr), .8);
    }
  }
  &__play {
    background-image: url(../../img/button/large-btn-overlay.png);

    min-width: 9rem;

    @include btn(3.5rem);
    @include btn-shine;
    @include btn-hover;
    @include btn-effect;

    @extend .button;

    position: relative;

    & > span {
      text-shadow: 0 0 0.25rem rgba(var(--w-clr), .2);
    }
  }
}

@include min-w($mob-mq) {
  .promo {
    --heading-margin: 3rem;

    &__title {
      --f-title: calc(var(--f-xl) * 2);

      & > span {
        font-size: calc(var(--f-3xl) * 3);
      }
    }
    &__play {
      min-height: 5rem;
      min-width: 11.5rem;
    }
  }
}

@include min-w($tab-mq) {
  .promo {
    &__title {
      & > span {
        font-size: calc(var(--f-3xl) * 4);
      }
    }
  }
}
