.slider {
  --slider-item-h: 24.4375rem;
  --content-width: 23.5rem;
  --section-mb: 4rem;
  --shadow-h: 8.5rem;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include m(b, var(--section-mb));

  position: relative;

  padding: 2rem 0;

  &::before,
  &::after {
    @include pseudo;

    width: 100%;
    height: var(--shadow-h);

    left: 0;

    display: none;

    @include z-1;
  }
  &::before {
    top: 0;

    background-image: linear-gradient(to bottom, rgba(var(--bg-body), 1) 10%, transparent 100%);
  }
  &::after {
    bottom: 0;

    background-image: linear-gradient(to top, rgba(var(--bg-body), 1) 10%, transparent 100%);
  }
  &__title {
    @include title(60.1875rem);

    @include m(b, 2rem);
  }
  &__video-bg {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    display: none;

    &::before {
      @include pseudo;

      width: 100%;
      height: 100%;

      top: 0;
      left: 0;

      background-color: rgba(var(--b-clr), .5);
    }

    & > video {
      object-fit: cover;

      width: 100%;
      height: 100%;
      max-width: 100vw;
    }
  }
  &__inner {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__body {
    min-height: var(--slider-sec-h);

    position: relative;

    @include z-2;
  }
  &__item {
    min-height: var(--slider-item-h);

    display: grid;
    place-items: center;
  }
  &__item-content {
    @include fl(column, center, 0.75rem);
    justify-content: center;

    text-align: center;

    max-width: var(--content-width)
  }
  &__item-heading {
    @include title-shadow(rgba(var(--w-clr), .25));

    letter-spacing: var(--ls);
    font-family: var(--ff_o);
    text-transform: uppercase;
    font-size: var(--f-2xl);
  }
}

@include min-w($mob-mq) {
  .slider {
    --slider-item-h: 30.6875rem;
    --content-width: 48.1875rem;
    --section-mb: 7rem;

    padding: var(--shadow-h) 0;

    &::before,
    &::after {
      display: block;
    }

    &__item-heading {
      font-size: var(--f-3xl);
    }
    &__video-bg {
      display: block;
    }
  }
}

@include min-w($tab-mq) {
  .slider {
    &__item-heading {
      font-size: var(--f-4xl);
    }
    &__inner {
      background-size: 100% 105%;
    }
  }
}
